.slidev-layout {
  --slidev-code-radius: 0.4rem;
  --slidev-code-padding: 0.5rem 0.75rem;
  --slidev-code-background: #16161690;
  --slidev-theme-primary: #38bdf8;
}

h6 {
  text-transform: initial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.dark #slide-content {
  background-color: black !important;
}

.code-lg {
  --slidev-code-line-height: 20px;
  --slidev-code-font-size: 16px;
}

.code-sm {
  --slidev-code-line-height: 13px;
  --slidev-code-font-size: 10px;
}

.code-sm2 {
  --slidev-code-line-height: 13.5px;
  --slidev-code-font-size: 12px;
}

.slidev-layout div[class*='language-'], pre[class*='language-'], code[class*='language-'] {
  font-size: var(--slidev-code-font-size);
  line-height: var(--slidev-code-line-height);
}

/* Inline code */
.slidev-layout :not(pre) > code {
  --bg-color: oklch(from var(--slidev-code-background) 0.4 c h);
  --border-color: oklch(from var(--slidev-code-background) 0.5 c h);

  background: var(--bg-color);
  border-radius: 4px;
  padding: 0.15em 0.4em;
  border: 1px solid var(--border-color);
}

/* Transitions */
.slidev-vclick-target {
  transition:
    opacity 500ms ease,
    filter 200ms ease,
    color 300ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
  filter: blur(3px);
}

.fade-out-leave-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.6) ease-out,
    filter 200ms ease;
}

.fade-out-enter-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.8) ease-in,
    filter 200ms ease;
  transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.fade-out-enter-from,
.fade-out-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.slidev-code .line {
  transition: opacity 200ms ease;
}

iframe {
  background: black;
}

/* ---- */

@keyframes balance-shake {
  0% {
    transform: rotate(13deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(13deg);
  }
}

@keyframes balance-move-left {
  0% {
    transform: translate(0, -27px);
  }
  50% {
    transform: translate(3px, -40px);
  }
  100% {
    transform: translate(0, -27px);
  }
}

@keyframes balance-move-right {
  0% {
    transform: translate(-7px, 25px);
  }
  50% {
    transform: translate(-12px, 38px);
  }
  100% {
    transform: translate(-7px, 25px);
  }
}

.animate-balance-shake {
  transform: rotate(13deg);
  animation: balance-shake 3s infinite;
  animation-delay: 1s;
  animation-timing-function: ease;
}

.animate-balance-move-left {
  transform: translate(0, -27px);
  animation: balance-move-left 3s infinite;
  animation-delay: 1s;
  animation-timing-function: ease;
}

.animate-balance-move-right {
  transform: translate(-7px, 25px);
  animation: balance-move-right 3s infinite;
  animation-delay: 1s;
  animation-timing-function: ease;
}

.slidev-code {
  backdrop-filter: blur(10px);
  border: 1px solid #eee1;
}

.rough-annotation > path[stroke-width='2'] {
  stroke-width: calc(2px * var(--slidev-slide-scale));
}

/* Magic Links */
.markdown-magic-link {
  display: inline-flex;
  align-items: center;
  transform: translateY(6px);
  line-height: 100%;
  color: #fffc;
  --uno: gap-1 transition rounded px1 py1 mx--0.5 important-border-0 font-condensed;
}

.markdown-magic-link:hover {
  background: #8883;
}

.markdown-magic-link-image {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
}

.markdown-magic-link.markdown-magic-link-github-at {
  transform: translateY(6px);
  --uno: pl-0 py-0 pr2 uppercase text-sm gap-1.2 rounded-full;
}

.markdown-magic-link.markdown-magic-link-github-at .markdown-magic-link-image {
  height: 1.6em;
  width: 1.6em;
  border-radius: 50%;
}

.slidev-code-wrapper .slidev-code {
  height: inherit;
}
